/*
    YouTube Embedded: Style Sheet
    Univseral Footer
*/

body {
    position: relative;
    height: 96vh;
    margin: 0;
    padding: 0px 8px;
}

footer {
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 280px;
    text-align: right;
}

footer p {
    margin: 0;
}

footer > div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
}

footer > div > p {
    padding-left: 10px;
}
